<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        
        <form action="/auth" method="POST">
            <input type="text" name="username" id="nama">
            <input type="password" name="password" id="password">
            <button type="submit">login</button>
        </form>



<script>
    
</script>
    </body>
</html>